@font-face {
    font-family: 'Plain';
    src: url('./Fonts/plain-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'silkserif';
    src: url('./Fonts/silkserif-regularitalic-webfont\ \(1\).ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Plain;
    color:#fff
}

html,body{
height:100%; 
width:100%;
}

.mousefollower {
    border:2px solid #fff;
    background-color: rgb(255,255,255);
    scale:2;
    mix-blend-mode:difference;
}

#loader{
    height:100%;
    width:100%;
    position: fixed;
    z-index:999;
    background-color: #030303;
    padding:25vh 8vw;
}

.line{
    height:fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif ; 
}

#line1-part1 h5{ 
    width:6vw;
    text-align: right;
}

.line h1{
    font-size:7vw;
    font-weight: 500;
    letter-spacing:3px;
}

.line h2{
    font-size:5vw;
    font-weight: 900;
    opacity:0;
    animation-duration: 1.4s;
    animation-iteration-count:infinite;
} 

@keyframes anime {
    0%{
        font-family:Plain;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity:1;
    }

    48%{
        font-family:plain;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50%{
        font-family:silkserif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity:1;
    }

    100%{
        font-family:silkserif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity:0;
    }
}

#main{
    position: relative;
    background-color: #151515;
}


#page1{
    height:100vh; 
    width:100%;
    /* background-color: #151515; */
    position: relative;
    z-index: 100;
}

#page1 #nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4vw;
    padding-left: 5.5vw ;
    padding-right: 5.5vw;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3vw;
}

#nav-part2 h4{
    font-size: 1.2vw;
    font-weight: 500;
}

.hero{
    /* background-color: red; */
    width: 70%;
    margin-left:28%;
    height: fit-content;
    overflow:hidden;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.hero:nth-child(2){
    margin-top:10vh;
}

.hero h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 7.5vw;
    position: relative;
}

#hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif;
    left: 21%;
    top:24%
}

.hero h2{
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 7.5vw;
    border-bottom:0.5vw solid white;
    padding:0.5vw;
    transition: all ease 0.3;
}

.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom:0.5vw solid #ffffff00;
}

#page2{
    height:100vh;
    width:100%;
    padding-top: 17vh;
    position:   relative;
}


#video-container{
    height:72vh;
    width:71vw;
    position:relative;
    left:28%;
    background-color: red;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;;
}

#video-container video{
    height:100%;
    width:100%;
    object-fit: cover;
}

#video-cursor{
    background-color: #FFA63D;
    height:8.5vw;
    width:8.5vw;
    border-radius: 50%;
    position:absolute;
    top:-10%;
    left:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

}

#video-cursor i{
    font-size: 2vw;
}

#video-container video{
    height:100%;
    width:100%;
    object-fit: cover;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top:0;
}

#page3{
    min-height: 100vh;
    width:100%;
    /* background-color: rgb(63, 63, 63); */
    position:relative;
    padding:17vh 2vw;
    margin-top: 20vh;
    margin-bottom: 30vh;
}

#page3 h1{
    font-size: 7.5vw;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}

#page3 .underline{
    margin-left: 28vw;
    width: 66%;
    background-color: #f9f3f3a2;
}

#page3 h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif;
    left: -12%;
    top:8%
}

#image-div-container{ 
    /* background-color: red; */
    padding:1vw;
    position: relative;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top:17vh;
}

.image-div{
    height:38vw;
    width:27vw;
    /* background-color: skyblue; */
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin:2vw;
}

.image-div:nth-child(1){
    height:29vw;
    width:22vw;
}


.page3-circle1{
    height:23vw;
    width:23vw;
    border:2px solid #fff;
    border-radius: 50%;
    margin-top:23vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:10vw; 
}

.page3-circle1 svg{
    height:40%;
}

.circle-in{
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    scale:0;
    transition: all ease 0.5s;
    border-radius: 50%;
}

.circle-in p{
    font-size:1.1vw;
    color: #000;
    width:70%;
    font-weight: 500;
    scale:0;
    transition: all ease 0.5s;
    transition-delay: 0.3s;
}

.page3-circle1:hover .circle-in{
    scale:1;
}

.page3-circle1:hover p{
    scale:1;
}


.page3-circle2{
    height:23vw;
    width:23vw;
    border:2px solid #fff;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-left:10vw; */
    position: relative;
    transition: all ease 0.5s;
}

.page3-circle2:hover .circle-in{
    scale:1;
}

.page3-circle2:hover p{
    scale:1;
}

.page3-circle2 svg{
    height:40%;
    rotate: -45deg;
}

.image-div img{
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

#page4{
    min-height: 100vh;
    width:100%;
    position:relative;
    padding: 10vh 0;
}

#page4-content{
    width:72vw;
    margin-left: 28vw;
}

#page4-content h1{
    font-size: 6vw;
    text-transform: uppercase;
    position: relative;
}

#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif;
    left: -12%;
    top:8%
}

#page4-content .underline{
    height:1px;
    width:89%;
    background-color: #ffffffea;
    margin: 5vw 0 ;
}

#page4-content>p{
    font-size: 2.05vw;
    width:50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width:48%;
}

#page4-flex p{
    font-size: 1vw;
    width:20%;
    margin-left: 2.5vw;
}

#page4-bluediv{
    background-color: #3F7DF4 ;
    width:40vw;
    padding:4vw 3vw;
    position: relative;
    margin-top:-35vh;
    margin-left:24vw;
}

.blue-div-e{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2.1vw 0;
    border-bottom:1px solid #ffffff7a;
}

.blue-div-e h4{
    width:40%;
    font-size: 1.7vw;
    font-weight: 500;

}

.blue-div-e p{
    width:50%;
    font-size: 1.1vw;
}

#page5{
    min-height: 100vh;
    width:100%;
    position:relative;
}

.elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #ffffffcc;
    font-weight: 400;
    /* background-color: red; */
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: rope;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.elem span{
    font-style: italic;
    font-family: silkserif;
    color: transparent;
}

@keyframes rope {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }

}

.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom:-2vw;
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #ffffffcc;
    font-weight: 400;
    /* background-color: red; */
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    transform: translateX(calc(-100% - 20px));
    animation-name: rope;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem2 span{
    font-style: italic;
    font-family: silkserif;
    color: transparent;
}

#footer{
    height:100vh;
    width:100%;
    /* background-color: rgba(255, 0, 0, 0.411); */
    position:relative;
    padding-left:28vw;
}

#footer h1{
    font-size: 7.8vw;
    font-weight: 500;
    width:60vw;
    /* background-color: #3F7DF4; */
    text-transform: uppercase;
    position: relative;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif;
    left:-12%;
    top:8%
}

.underline{
    height:1.2px;
    width:93%;
    background-color: #ffffffef;
    margin-top: 5vh;
}

#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right:8vw ;
    padding-top: 3vw;
    margin-bottom: 4.9vw;
}

#footer-div h6{
    font-size: 1.4vw;
    font-weight: 500;
    margin-bottom: 2vw;
}

.box{
    width:20%
}

#footer-div h5{
    font-size: 1.7vw;
    font-weight: 500;
}

#footer>h5{
    font-weight: 500;
    font-size: 1.2vw;
    padding-top: 2.9vw;
}

._canvas_container{
    z-index:99999 !important;
    pointer-events: none;
}